<div class="container">
<div class='row justify-content-left py-1 px-1'>
    <ng-container *ngFor="let tag of tags;">

        <div class='p-0'>
            <div class='bg-secondary text-white tag d-flex justify-content-between py-1 px-1'>
                <div class='mr-1 p-0'>
                    {{tag.tagName}}
                </div>
                <div class='mr-0 ml-0  p-0'>
                    <span class="actionIcons-white">
                        <i class="mdi mdi-close-circle-outline"></i>
                    </span>
                </div>
            </div>
        </div>
    </ng-container>
</div>
</div>